.bar__container {
  background: #f1f1f1;
  width: 100%;
  display: flex;
}

.img__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.bar__img {
  width: 33.33%;
  object-fit: cover;
  max-height: 300px;
}
@media screen and (max-width: 1024px) {
  .info__img {
    max-height: 200px;
  }
}
@media screen and (max-width: 1024px) {
  .img__left {
    flex: 1;
  }
  .img__right {
    flex: 1;
  }
  .img__down {
    flex: 1 100%;
    max-height: 400px;
  }
}
