.menu__container {
  background: #fff;
  height: 860px;
  width: 100%;
  color: #000;
  position: relative;
}

.menu__table {
  border-collapse: collapse;
  text-align: center;
  margin: auto;
  width: 75%;
  overflow: auto;
}
.menu__wrapper {
  overflow-x: auto;
  padding-left: 40px;
  padding-right: 40px;
}
.menu__td {
  padding: 2px 8px;
  height: 100px;
}

.menu__tr--color {
  background-color: #f2f2f2;
}

td {
  border: solid 1px;
}

table {
  empty-cells: hide;
}

th:empty {
  visibility: hidden;
}

.menu__size--button {
  background: #242424;
  border: 0;
  width: 5rem;
  height: 3rem;
  color: #fff;
  font-size: 1rem;
  font-family: "Big Shoulders Display", cursive;
  letter-spacing: 2px;
  cursor: pointer;
}

.menu__size--button:hover {
  box-shadow: 0px 0px 0.5em #000;
  transition: 0.2s ease-in-out;
}
