tr,
th,
td {
  border: solid 1px;
}
table {
  empty-cells: hide;
}

th:empty {
  visibility: hidden;
}
.menu__container {
  background: #fff;
  height: 860px;
  width: 100%;
  color: #000;
  position: relative;
}

.menu__wrapper {
  padding: 40px 20px;
  text-align: center;
  justify-content: center;
}

.menu__table {
  border-collapse: collapse;
  text-align: center;
  margin: auto;
  width: 75%;
}

.menu__table {
  width: 280px;
}

.menu__td {
  max-height: 600px;
  padding: 0px 8px;
}

.menu__size--button {
  background: #242424;
  border: 0px;
  width: 5rem;
  height: 2rem;
  color: #fff;
  font-size: 1rem;
  font-family: "Big Shoulders Display", cursive;
  letter-spacing: 2px;
}

.button__wrapper {
}
